@import "@/styles/abstracts/variables.scss";

.tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
  // padding: 5px 12px;
  color: $black;
}

.sm {
  line-height: 100%;
  font-size: 12px;
}

.md {
  line-height: 14px;
  font-size: 12px;
}

.ghost {
  color: $gray-light;
}

.gray {
  color: $gray;
}

.href {
  color: $blue;
}
