@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin grid-display($columns, $row, $column-size, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, $column-size);
  grid-auto-rows: $row;
  gap: $gap;
}

@mixin hover-state {
  &:hover {
    opacity: 0.7;
  }
}
