.button {
  display: flex;
  box-sizing: border-box;
  padding: 7px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background 0.2s;
  align-items: center;
}

.button:hover {
  background-color: var(--primary-hover);
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.ghost {
  color: var(--black);
  background: none;
  border: 1px solid var(--gray-light);
}
