@import "@/styles/abstracts/variables.scss";

.button {
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  line-height: 140%;
  font-weight: 700;
  transition: background 0.2s;
  background-color: $black;
  justify-content: center;
  align-items: center;
  height: 48px;
  min-width: 229px;
}

.button:hover {
  background-color: $gray;
}
