@use "@/styles/abstracts/variables.scss" as *;
@use "@/styles/abstracts/mixins.scss" as *;

.page {
  padding: 0 46px;
}

.grid {
  @include grid-display(auto-fit, auto, minmax(350px, 350px), 33px);
  justify-content: center;
  margin: 0 auto;
  max-width: 1146px;
}
